$headerHeight: 80px;
.container-app {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.stolmax-header {
    height: $headerHeight;
    width: 100%;
}
.stolmax-container.active {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    z-index: 0;
    background: url(/assets/background.webp);
    background-position: center, center;
    background-size: 100% 100%, 100% 100%;
    animation: bg 1.5s ease-in;
}
.stolmax-container {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    z-index: 0;
    background: white;
    background-position: center, center;
    background-size: 100% 100%, 100% 100%;
    animation: bg 1.5s ease-in;
}

.stolmax-content {
    height: calc(100% - $headerHeight);
    width: 100%;
    overflow: auto;
}
