<section class="d-flex py-5 flex-column w-100 paralax">
  <div class="d-flex w-100 justify-content-center align-items-center mb-1">
    <img src="/assets/break.webp" width="50px"
      alt="zielony szeroki cienki prostokąt, element jest przerywnikiem na stronie">
  </div>
  <div class="section-content d-flex justify-content-center align-items-center mb-5">
    <h3>OFERTA</h3>
  </div>
  <div
    class="d-flex w-100 Zapraszamy-do-przejrzenia-naszej-bogatej-oferty-by-mgmoga justify-content-center align-items-center mb-5">

    <p>Zapraszamy do przejrzenia naszej bogatej oferty, byś mógł/mogła znaleźć coś dla siebie i swoich bliskich.</p>
  </div>
  <div class="section-content px-5">
    <div class="container">
      <div class="row">
        <!-- Offer items -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12 col-sm-12 py-4 offer-item-box" [routerLink]="['/galeria']">
          <div class="row">
            <div class="col-3 oferta-green-square">
              <img src="assets/kitchen-icon.webp" width="100%" height="auto" alt="kitechen">
            </div>
            <div class="col-9 oferta-gray-square">
              <div class="row">
                <span class="col-12 oferta-header">
                  KUCHNIA
                </span>
              </div>
              <div class="row">
                <p class="col-12 oferta-text">
                  Brakuje ci motywacji do przygotowania posiłku? Tutaj znajdziesz meble, które pomogą Ci na nowo odkryć
                  pasję do gotowania.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Offer item 2 -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12 col-sm-12 p-4 offer-item-box" [routerLink]="['/galeria']">
          <div class="row oferta-margin-equal">
            <div class="col-3 oferta-green-square">
              <img src="assets/bath-icon.webp" width="100%" height="auto" alt="bath">
            </div>
            <div class="col-9 oferta-gray-square">
              <div class="row">
                <span class="col-12 oferta-header">
                  ŁAZIENKA
                </span>
              </div>
              <div class="row">
                <p class="col-12 oferta-text">
                  Wszyscy lubimy dobre wyglądać. Dzięki naszym projektom dbanie o siebie będzie prostsze i
                  przyjemniejsze.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Offer item 3 -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12 col-sm-12 p-4 offer-item-box" [routerLink]="['/galeria']">
          <div class="row">
            <div class="col-3 oferta-green-square">
              <img src="assets/chair-icon.webp" width="85%" alt="chair">
            </div>
            <div class="col-9 oferta-gray-square">
              <div class="row">
                <span class="col-12 oferta-header">
                  POKÓJ
                </span>
              </div>
              <div class="row">
                <p class="col-12 oferta-text">
                  Dom to twój azyl. Umil sobie przebywanie w nim tymi meblami, by mieć więcej energii do mierzenia się
                  ze
                  światem.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Offer item 4 -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12 col-sm-12 p-4 offer-item-box" [routerLink]="['/galeria']">
          <div class="row">
            <div class="col-3 oferta-green-square">
              <img src="assets/bed-icon.webp" width="100%" height="auto" alt="bed">
            </div>
            <div class="col-9 oferta-gray-square">
              <div class="row">
                <span class="col-12 oferta-header">
                  SYPIALNIA
                </span>
              </div>
              <div class="row">
                <p class="col-12 oferta-text">
                  Wypoczynek jest ważną częścią naszego życia. By był jeszcze lepszy, warto mieć wygodne i ładne
                  otoczenie
                  w sypialni.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Offer item 5 -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12 col-sm-12 p-4 offer-item-box" [routerLink]="['/galeria']">
          <div class="row">
            <div class="col-3 oferta-green-square">
              <img src="assets/desk-icon.webp" width="100%" height="auto" class="custom-mt-025-px" alt="desk">
            </div>
            <div class="col-9 oferta-gray-square">
              <div class="row">
                <span class="col-12 oferta-header">
                  BIURO
                </span>
              </div>
              <div class="row h-100">
                <p class="col-12 oferta-text">
                  Praca nie musi być tylko przykrym obowiązkiem. Zapewnij sobie i swoim pracownikom komfort i ergonomię
                  w
                  działaniu.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Offer item 6 -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12 col-sm-12 p-4 offer-item-box" [routerLink]="['/galeria']">
          <div class="row">
            <div class="col-3 oferta-green-square">
              <img src="assets/wardrobe-icon.webp" width="75%" alt="wardrobe">
            </div>
            <div class="col-9 oferta-gray-square">
              <div class="row">
                <span class="col-12 oferta-header">
                  SZAFY
                </span>
              </div>
              <div class="row">
                <p class="col-12 oferta-text">
                  Ubiorem wyrażamy siebie, ale by ubrania pomieścić i przechować w dobrym stanie potrzebujesz
                  funkcjonalnej szafy.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12 text-center">
              <img src="/assets/break.webp" width="50px"
                alt="zielony szeroki cienki prostokąt, element jest przerywnikiem na stronie">
            </div>
          </div>
          <div class="row OPINIE">
            <h2 class="col-12">
              OPINIE
            </h2>
          </div>
          <div
            class="d-flex w-100 Zapraszamy-do-przejrzenia-naszej-bogatej-oferty-by-mgmoga justify-content-center align-items-center mb-5">
            <p>
              Przywiązujemy szczególną uwagę do tego co sądzą klienci o naszej pracy
              <br> Oto kilka wybranych opinii osób które skorzystały z naszych usług
            </p>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <!-- Opinions section -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12 col-sm-12 px-4 py-4 custom-mb-1">
                  <div class="h-100 padding-opinie-right">
                    <div class="row opinia-box">
                      <div class="col-12 d-flex flex-column">
                        <div class="custom-flex-start">
                          <img src="assets/quotation-icon.webp" data-src="assets/quotation-icon.webp" width="48px;"
                            alt="comment-separator">
                        </div>
                        <p class="opinia custom-flex-start">
                          Fachowość w każdym calu. Profesjonalne podejście do zadania. Projekt został wykonany w stu
                          procentach zgodnie z założeniem
                          i przede wszystkim w wyznaczonym terminie. Do fachowców STOL-MAX zdecydowanie zgłoszę się przy
                          kolejnej
                          okazji.
                        </p>
                        <div class="h-30-px">
                          <span class="opinia-autor">
                            pan Andrzej - Tychy
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Opinion 2 -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12 col-sm-12 px-4 py-4 custom-mb-1">
                  <div class="padding-opinie-equal h-100">
                    <div class="row opinia-box">
                      <div class="col-12 d-flex flex-column">
                        <div class="custom-flex-start">
                          <img src="assets/quotation-icon.webp" data-src="assets/quotation-icon.webp" width="48px;"
                            alt="comment-separator">
                        </div>
                        <p class="opinia custom-flex-start">
                          Musze przyznać, że od projektu do samej realizacji wszystko przebiegło bez zarzutów.
                          Profesjonalne doradztwo w zakresie doboru materiałów, kolorów, aranżacji wnętrza aż po
                          wykonanie. Sprawny montaż, polecam gorąco wszystkim zainteresowanym !!!
                        </p>
                        <div class="h-30-px">
                          <span class="opinia-autor">
                            pan Radosław - Holandia
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12 col-sm-12 px-4 py-4 custom-mb-1">
                  <div class="h-100 padding-opinie-left">
                    <div class="row opinia-box">
                      <div class="col-12 d-flex flex-column">
                        <div class="custom-flex-start">
                          <img src="assets/quotation-icon.webp" data-src="assets/quotation-icon.webp" width="48px;"
                            alt="comment-separator">
                        </div>
                        <p class="opinia custom-flex-start">
                          Jestem wymagającą klientką. Zleciłam firmie Stol-Max zrobienie garderoby. Była świetna, więc
                          zleciłam kolejny mebel. Tym
                          sposobem Stol-Max wykonał meble w całym domu. Wszystko według moich projektów, dokładnie
                          wykonane,
                          na czas. Jestem bardzo zadowolona i z czystym sumieniem mogę polecić każdemu!
                        </p>
                        <div class="h-30-px">
                          <span class="opinia-autor">
                            pani Anna - Tychy
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-end align-items-end wiecej-znajdziesz">
                <div class="flex-end-center p-0">
                  <span class="text-center me-3">Więcej opinii znajdziesz na naszym profilu</span>
                  <a rel="nofollow" target="_blank" href="https://www.facebook.com/profile.php?id=100063741032209">
                    <img src="assets/fb-kopia.webp" alt="facebook-comments">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>