<section class="d-flex p-5 flex-column w-100 paralax">
  <div class="d-flex w-100 justify-content-center align-items-center mb-1">
    <img src="/assets/break.webp" width="50px"
      alt="zielony szeroki cienki prostokąt, element jest przerywnikiem na stronie">
  </div>
  <div class="d-flex w-100">
    <div class="d-flex w-100 justify-content-center align-items-center mb-5"
      style="display:flex; align-items: center; justify-content: center; font-size:32px;">
      <h3 style="font-size: 32px;">O NASZEJ</h3>
      <h3 style="margin-left: 0.7rem; font-size: 32px; color: #68bd45;">FIRMIE</h3>
    </div>
  </div>
  <div class="d-flex w-100">
    <div class="d-flex w-50 p-3">
      <img src="/assets/patrycjusz-stolmax.jpeg" class="w-100"
        alt="Zdjęcie Pana Patrcjusza Wybrańca w jego warsztacie podczas pracy, założyciela i stolarza firmy stol-max. Stolarz tnie drewniane płyty na wielkim okrągłym ostrzu na maszynie do tego przeznaczonej.">
    </div>
    <div class="d-flex w-50 justify-content-center align-items-center">
      <p class="Description">
        Patrycjusz Wybraniec z firmy Stol-Max Meble na wymiar www.stol-max.net zajmuję się stolarstwem od ćwierć wieku.
        Znajduję się w naszej Tyskiej Bazie Rzemieślników, internetowej bazie zakładów z tradycją! Pełną bazę
        znajdziecie na stronie ➡ <a href="https://umtychy.pl/tyscyrzemieslnicy"
          traget="_blank">https://umtychy.pl/tyscyrzemieslnicy</a>
        <br><br>
        Choć szkołę ukończył w zupełnie innym kierunku, to jego obecny fach ma we krwi. – Od kiedy byłem dzieckiem, w
        rodzinie zawsze ktoś zajmował się „stolarką”. Czy to dziadek, czy wujek, a potem ja sam zacząłem pracować w
        firmie zajmującej się produkcją mebli. Po kilku latach postanowiłem pójść na swoje i założyłem własną firmę –
        wspomina pan Patrycjusz.
        <br><br>
        Aktualnie wraz dwoma pracownikami zajmuje się produkcją mebli. – Wykonujemy meble pod wymiar. Do kuchni,
        łazienek, meble pokojowe. Wszystko, na co tylko klient ma ochotę – zapewnia. Firma STOL-MAX znajduje się przy
        „Sublach”, na ulicy Chałupniczej 3.
      </p>
    </div>
  </div>
  <div class="d-flex w-100">
    <div class="d-flex w-50 justify-content-center align-items-center">
      <p class="Description">
        STOL-MAX jest firmą z wieloletnim doświadczeniem, cechującą się zaufaniem i zadowoleniem klientów. Zajmujemy się
        produkcją
        mebli na wymiar dla klientów indywidualnych, jak i instytucji oraz firm. Jeśli szukasz partnera, który jest w
        stanie dopasować meble do twoich pomieszczeń, a na dodatek potrafiącego zrobić to dobrze i sprawnie – postaw
        na nas, jak zrobiło wielu naszych usatysfakcjonowanych klientów.
        <br>
        <br>Nasze produkty charakteryzują się różnorodnością stylizacji, w których zawsze uwzględniamy najnowsze trendy
        w
        meblarstwie. Nasi pracownicy co dzień dokładają wszelkich starań, by oferta była wszechstronna i uniwersalna,
        dzięki czemu docieramy do szerokiego grona klientów, ceniących sobie funkcjonalność, atrakcyjność, wygodę i
        ergonomię
        naszych mebli. Nie musisz nam wierzyć na słowo. Sprawdź naszą stronę na Facebooku albo opinie ludzi, którzy
        nam zaufali, by przekonać się osobiście, że dbamy o swoich klientów i że zależy nam na tym, by byli zadowoleni
        z efektu naszej pracy. Pozwól nam dowieść swojego profesjonalizmu i zostań jednym z nich!
      </p>
    </div>
    <div class="d-flex w-50 p-3">
      <splide class="w-100">
        <splide-slide class="w-100">
          <img src="/assets/about-1.jpg" class="w-100"
            alt="krótka szafka łazienkowa rogowa białe fronty i drewniane płyty, 2 szuflady, przy łaczeniu z wanną" />
        </splide-slide>
        <splide-slide class="w-100">
          <img src="/assets/about-2.jpg" class="w-100"
            alt="długa szafa rogowa z dwoma lustrami, drewniane i białe fronty" />
        </splide-slide>
        <splide-slide class="w-100">
          <img src="/assets/about-3.jpg" class="w-100"
            alt="kuchnia z białymi frontami oraz marmurowymi blatami, wyspa na środku kuchni" />
        </splide-slide>
      </splide>
    </div>
  </div>
</section>

<app-footer></app-footer>