<section class="d-flex p-5 flex-column w-100" style="background: white;">
  <div class="d-flex w-100 justify-content-center align-items-center mb-1">
    <img src="/assets/break.webp" width="50px"
      alt="zielony szeroki cienki prostokąt, element jest przerywnikiem na stronie" id="content-begin">
  </div>
  <div class="d-flex w-100">
    <div class="d-flex w-100 justify-content-center align-items-center mb-5"
      style="display:flex; align-items: center; justify-content: center; font-size:32px;">
      <h3 style="font-size: 32px;">O NASZEJ</h3>
      <h3 style="margin-left: 0.7rem; font-size: 32px; color: #68bd45;">FIRMIE</h3>
    </div>
  </div>
  <div class="d-flex w-100">
    <div class="d-flex w-50">
      <p class="Description">
        STOL-MAX jest firmą z wieloletnim doświadczeniem, cechującą się zaufaniem i zadowoleniem klientów. Zajmujemy się produkcją
        mebli na wymiar dla klientów indywidualnych, jak i instytucji oraz firm. Jeśli szukasz partnera, który jest w
        stanie dopasować meble do twoich pomieszczeń, a na dodatek potrafiącego zrobić to dobrze i sprawnie – postaw
        na nas, jak zrobiło wielu naszych usatysfakcjonowanych klientów.
        <br>
        <br>Nasze produkty charakteryzują się różnorodnością stylizacji, w których zawsze uwzględniamy najnowsze trendy w
        meblarstwie. Nasi pracownicy co dzień dokładają wszelkich starań, by oferta była wszechstronna i uniwersalna,
        dzięki czemu docieramy do szerokiego grona klientów, ceniących sobie funkcjonalność, atrakcyjność, wygodę i ergonomię
        naszych mebli. Nie musisz nam wierzyć na słowo. Sprawdź naszą stronę na Facebooku albo opinie ludzi, którzy
        nam zaufali, by przekonać się osobiście, że dbamy o swoich klientów i że zależy nam na tym, by byli zadowoleni
        z efektu naszej pracy. Pozwól nam dowieść swojego profesjonalizmu i zostań jednym z nich!
      </p>
    </div>
    <div class="d-flex w-50">

    </div>
  </div>
</section>