<section class="d-flex footer-container w-100 flex-column align-items-center justify-content-center pt-5">
    <div class="d-flex w-75 align-items-center justify-content-around footer-container-mobile">
        <div class="d-flex">
            <ul class="site-map">
                <li>Mapa strony:</li>
                <li>
                    <div class="separator"></div>
                </li>
                <li><a [routerLink]="['']" routerLinkActive="active-link" aria-label="Main/Home page">HOME</a></li>
                <li><a [routerLink]="['/o-nas']" routerLinkActive="active-link"
                        aria-label="Informations about company">O NAS</a></li>
                <li><a [routerLink]="['/oferta']" routerLinkActive="active-link" aria-label="Company offer">OFERTA</a>
                </li>
                <li><a [routerLink]="['/galeria']" routerLinkActive="active-link"
                        aria-label="Gallery of furnitures">GALERIA</a></li>
                <li><a [routerLink]="['/kontakt']" routerLinkActive="active-link"
                        aria-label="Contact form and map">KONTAKT</a></li>
            </ul>
        </div>
        <div class="d-flex">
            <ul class="site-map">
                <li>Godziny otwarcia:</li>
                <li>
                    <div class="separator"></div>
                </li>
                <li>Poniedziałek: 8:00 - 18:00</li>
                <li>Wtorek: 8:00 - 18:00</li>
                <li>Środa: 8:00 - 18:00</li>
                <li>Czwartek: 8:00 - 18:00</li>
                <li>Piątek: 8:00 - 18:00</li>
            </ul>
        </div>
        <div class="d-flex">
            <ul class="site-map">
                <li>Skontaktuj się:</li>
                <li>
                    <div class="separator"></div>
                </li>
                <li>
                    <div class="contact-item">
                        <a rel="nofollow" href="tel:602608749">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="call"></mat-icon>
                        </a>
                        <a rel="nofollow" href="tel:602608749">
                            <span class="icon-desc">602 608 749</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="contact-item">
                        <a rel="nofollow" href="mailto:stolmax@op.pl">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
                        </a>
                        <a rel="nofollow" href="mailto:stolmax@op.pl">
                            <span class="icon-desc">stolmax&#64;op.pl</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="contact-item">
                        <a target="_blank" rel="nofollow" href="https://www.instagram.com/stolmax_tychy">
                            <img src="/assets/instagram-white.webp" alt="white icon of instagram">
                        </a>
                        <a target="_blank" rel="nofollow" href="https://www.instagram.com/stolmax_tychy">
                            <span class="icon-desc">stolmax</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="contact-item">
                        <a target="_blank" rel="nofollow"
                            href="https://www.facebook.com/profile.php?id=100063741032209">
                            <img src="/assets/fb-white.webp" alt="white icon of facebook">
                        </a>
                        <a target="_blank" rel="nofollow"
                            href="https://www.facebook.com/profile.php?id=100063741032209">
                            <span class="icon-desc px-2">STOL-MAX</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-flex w-75 align-items-center justify-content-around pt-5">
        <div class="separator"></div>
    </div>
    <div class="d-flex w-75 align-items-center justify-content-around py-2 ">
        <div class="w-100 footer-text">
            Copyright Ⓒ 2023 Stol-max | Tychy Chałupnicza 3 Polska | NIP: 6462373862 | REGON: 273269012 | NR KONTA: 12
            1140 2004 0000 3102 4651 9099
        </div>
    </div>
</section>
