:host {
    height: 100%;
    width: 100%;
    padding: 1.5rem 0;
    background-color: transparent;
}

.navbar-stolmax {
    height: 100%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: transparent;
    scale: 0.8;
    animation: deactive-header 0.5s ease-out;
}

.navbar-stolmax.active {
    scale: 1;
    background-color: white;
    animation: active-header 0.5s ease-out;
}

@keyframes active-header {
    0% {
        background: rgba(255, 255, 255, 0);
    }
    10% {
        background: rgba(255, 255, 255, 0.1);
    }
    20% {
        background: rgba(255, 255, 255, 0.2);
    }
    30% {
        background: rgba(255, 255, 255, 0.3);
    }
    40% {
        background: rgba(255, 255, 255, 0.4);
    }
    50% {
        background: rgba(255, 255, 255, 0.5);
    }
    60% {
        background: rgba(255, 255, 255, 0.6);
    }
    70% {
        background: rgba(255, 255, 255, 0.7);
    }
    80% {
        background: rgba(255, 255, 255, 0.8);
    }
    90% {
        background: rgba(255, 255, 255, 0.9);
    }
    100% {
        background: rgba(255, 255, 255, 1);
    }
}

@keyframes deactive-header {
    100% {
        background: rgba(255, 255, 255, 0);
    }
    90% {
        background: rgba(255, 255, 255, 0.1);
    }
    80% {
        background: rgba(255, 255, 255, 0.2);
    }
    70% {
        background: rgba(255, 255, 255, 0.3);
    }
    60% {
        background: rgba(255, 255, 255, 0.4);
    }
    50% {
        background: rgba(255, 255, 255, 0.5);
    }
    40% {
        background: rgba(255, 255, 255, 0.6);
    }
    30% {
        background: rgba(255, 255, 255, 0.7);
    }
    20% {
        background: rgba(255, 255, 255, 0.8);
    }
    10% {
        background: rgba(255, 255, 255, 0.9);
    }
    0% {
        background: rgba(255, 255, 255, 1);
    }
}

.logo {
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    padding: 2rem;

    > img {
        height: auto;
        width: 100%;
    }
}

::ng-deep {
    a .mdc-button__label {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.2px;
        text-decoration-color: rgb(27, 27, 27);
        text-decoration-line: none;
        text-decoration-style: solid;
        text-decoration-thickness: auto;
        word-break: keep-all;
    }

    a.active-link .mdc-button__label {
        font-weight: bold;
        border-bottom: 3px solid 68bd45;
    }
}
