:host {
    height: 100%;
    width: 100%;
    padding: 1.5rem 0;
}

.footer-container {
    background-color: black;
}

.kontakt-desc {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.5px;
    text-align: left;
    color: #fff;
}

.icon-desc {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin-left: 0.5rem;
}

.kontakt-info {
    font-family: Lato;
    font-size: 18px;
    text-align: left;
    color: #fff;
}

.site-map {
    color: #fff;
    font-family: Lato;
    text-align: left;
    list-style-type: none;
    a {
        color: white;
    }
    > a .mdc-button__label {
        color: white;
        font-size: 14px !important;
    }
}


.footer-text {
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    text-align: center;
    color: #fff;
}