<section class="d-flex footer-container w-100 flex-column align-items-center justify-content-center pt-5">
    <div class="d-flex w-75 align-items-center justify-content-around">
        <div class="d-flex">
            <ul class="site-map">
                <li>Mapa strony:</li>
                <li>
                    <div class="mt-1 mb-2" style="height: 1px;background-color: #ffffff;width:200px;">
                    </div>
                </li>
                <li><a [routerLink]="['']" routerLinkActive="active-link">HOME</a></li>
                <li><a [routerLink]="['/o-nas']" routerLinkActive="active-link">O NAS</a></li>
                <li><a [routerLink]="['/oferta']" routerLinkActive="active-link">OFERTA</a></li>
                <li><a [routerLink]="['/galeria']" routerLinkActive="active-link">GALERIA</a></li>
                <li><a [routerLink]="['/kontakt']" routerLinkActive="active-link">KONTAKT</a></li>
            </ul>
        </div>
        <div class="d-flex">
            <ul class="site-map">
                <li>Godziny otwarcia:</li>
                <li>
                    <div class="mt-1 mb-2" style="height: 1px;background-color: #ffffff;width:200px;">
                    </div>
                </li>
                <li>Poniedziałek: 8:00 - 18:00</li>
                <li>Wtorek: 8:00 - 18:00</li>
                <li>Środa: 8:00 - 18:00</li>
                <li>Czwartek: 8:00 - 18:00</li>
                <li>Piątek: 8:00 - 18:00</li>
            </ul>
        </div>
        <div class="d-flex">
            <ul class="site-map">
                <li>Skontaktuj się:</li>
                <li>
                    <div class="mt-1 mb-2" style="height: 1px;background-color: #ffffff;width:200px;">
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <a rel="nofollow" href="tel:602608749" style="color: white;">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="call"></mat-icon>
                        </a>
                        <a rel="nofollow" href="tel:602608749">
                            <h4 class="icon-desc">602 608 749</h4>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <a rel="nofollow" href="mailto:stolmax@op.pl" style="color: white;">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
                        </a>
                        <a rel="nofollow" href="mailto:stolmax@op.pl">
                            <h4 class="icon-desc">stolmax@op.pl</h4>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <a target="_blank" rel="nofollow" href="https://www.instagram.com/stolmax_tychy">
                            <img width="20px" src="/assets/instagram-white.webp">
                        </a>
                        <a target="_blank" rel="nofollow" href="https://www.instagram.com/stolmax_tychy">
                            <h4 class="icon-desc">stolmax</h4>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <a target="_blank" rel="nofollow"
                            href="https://www.facebook.com/pg/Stol-Max-Meble-na-wymiar-wwwstol-maxnet-343259572359311/about/?ref=page_internal">
                            <img height="20px" src="/assets/fb-white.webp">
                        </a>
                        <a target="_blank" rel="nofollow"
                            href="https://www.facebook.com/pg/Stol-Max-Meble-na-wymiar-wwwstol-maxnet-343259572359311/about/?ref=page_internal">
                            <h4 class="icon-desc px-2">STOL-MAX</h4>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-flex w-75 align-items-center justify-content-around pt-5">
        <div style="height: 1px;background-color: #ffffff;width:100%">
        </div>
    </div>
    <div class="d-flex w-75 align-items-center justify-content-around py-2 ">
        <div class="w-100 footer-text">
            Copyright Ⓒ 2022 Stol-max | Tychy Chałupnicza 3 Polska | NIP: 6462373862 | REGON: 273269012 | NR KONTA: 86
            2030 6572 0000
            2354 3019 4348
        </div>
    </div>
</section>