<section class="d-flex p-5 flex-column w-100 paralax">
  <div class="d-flex w-100 justify-content-center align-items-center mb-1">
    <img src="/assets/break.webp" width="50px"
      alt="zielony szeroki cienki prostokąt, element jest przerywnikiem na stronie">
  </div>
  <div class="d-flex w-100">
    <div class="d-flex w-100 justify-content-center align-items-center mb-5 gallery-header">
      <h3>GALERIA</h3>
    </div>
  </div>
  <div class="d-flex w-100 flex-column">
    <div class="d-flex w-100 justify-content-center align-items-center mb-4 flex-wrap">
      <button class="m-3" [class.active-cat]="cat.label === selectedCategory.label" *ngFor="let cat of categories"
        mat-raised-button (click)="setCategory(cat)">
        {{cat.label}}
      </button>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex gallery-container" *ngIf="items.length > 0">
      <gallery nonce="random-csp-nonce" id="basic-test" imageSize="contain" fluid [items]="items" [autoPlay]="true" [playerInterval]="6500">
      </gallery>
      <button mat-raised-button class="fullscreen-button"
        (click)="lightbox.open(0, 'lightbox', {panelClass: 'fullscreen'})">
        Pełny ekran
      </button>
    </div>
  </div>
</section>

<app-footer></app-footer>