<section class="d-flex p-5 flex-column w-100 paralax">
  <div class="d-flex w-100 justify-content-center align-items-center mb-1">
    <img src="/assets/break.webp" width="50px"
      alt="zielony szeroki cienki prostokąt, element jest przerywnikiem na stronie">
  </div>
  <div class="d-flex w-100">
    <div class="d-flex w-100 justify-content-center align-items-center mb-5"
      style="display:flex; align-items: center; justify-content: center; font-size:32px;">
      <h3 style="font-size: 32px;">GALERIA</h3>
    </div>
  </div>
  <div class="d-flex w-100 flex-column">
    <div class="d-flex w-100 justify-content-center align-items-center mb-4 flex-wrap">
      <button class="m-3" [class.active-cat]="cat === selectedCategory" *ngFor=" let cat of categories" mat-raised-button
        (click)="setCategory(cat)">
        {{cat}}
      </button>
    </div>
  </div>
  <div class=" d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex" style="position: relative;width: 75vw;" *ngIf="items.length > 0">
      <gallery  id="basic-test" imageSize="contain" fluid [items]="items" [autoPlay]="true"></gallery>
      <button mat-raised-button style="position: absolute; top: 20px; right: 20px; z-index: 1; opacity: 0.7;"
        (click)="lightbox.open(0, 'lightbox', {panelClass: 'fullscreen'})">Pełny
        ekran</button>
    </div>


  </div>
</section>

<app-footer></app-footer>