<section class="d-flex w-100 background">
    <div class="d-flex w-50 h-100 align-items-end justify-content-center flex-column pe-5 mobile-main-text">
        <h1 class="Najnowsze-trendy-w-meblarstwie pb-4">
            STOL-MAX <br>
            Patrycjusz Wybraniec <br><br>
            Meble na wymiar do
            <br>kuchni, łazienki, sypialni, biura
        </h1>
        <p class="Dziki-nam-kada-wizyta-w-Twoim-domu-lub-firmie-bdzie-tylko-i pt-4 pb-4">
            Dzięki nam każda wizyta w Twoim
            <br> domu lub firmie będzie tylko&nbsp;i
            <br> wyłącznie przyjemnością
        </p>
        <a mat-raised-button class="btn-gallery-start mobile-main-grid" [routerLink]="['/galeria']">GALERIA</a>
    </div>
    <div class="d-flex w-50 h-100 align-items-center justify-content-center mobile-main-grid">
        <div class="gridTills" [hidden]="!init">
            <img rel="preload" src="/assets/stolmax-main-1.webp" width="100%" height="auto" [ngClass]="{'till-1':init}"
                alt="Kuchnia brązowe szafki i czarne blaty nowoczesny styl">
            <img rel="preload" src="/assets/stolmax-main-2.webp" width="100%" height="auto" [ngClass]="{'till-2':init}"
                alt="Kuchnia z salonem, biały ściany, wyspa na środku, marmurowe blaty i ciemno brązowe wykończenia oraz meble">
            <img rel="preload" src="/assets/stolmax-main-3.webp" width="100%" height="auto" [ngClass]="{'till-3':init}"
                alt="Kuchnia białe fronty błyszczące, białe marmurowe blaty, na czarnej ścianie">
        </div>
    </div>
    <!-- <div class="d-flex w-50 h-100 align-items-center justify-content-center">
        <div class="h-75 w-75 d-flex align-items-end justify-content-end" style="position: relative;">
            <img src="/assets/patrycjusz-stolmax1.png" width="80%" style="position: absolute; bottom: 25%;" />
            <img src="/assets/deska.png" width="70%"
                [style]="'position: absolute; right: '+scrollDesk +'%; bottom: 15%; transform: rotate(-10deg);'" />
            <img src="/assets/pila.png" width="40%" class="pila"
                [style]="'animation-delay: calc('+ scrollGear + ' * -1s);'" />
        </div>
    </div> -->
    <button mat-button class="d-flex more-info" (click)="moveToMoreInfo()">WIĘCEJ INFORMACJI <br>
        <mat-icon>expand_more</mat-icon>
    </button>
</section>
<section class="d-flex pt-5 pb-5 ps-5 pe-5 mt-5 flex-column paralax">
    <div class="d-flex w-100 justify-content-center align-items-center mb-1">
        <img src="https://aniancep.sirv.com/web-images/break.webp" width="50px" height="9.52px"
            alt="zielony szeroki cienki prostokąt, element jest przerywnikiem na stronie" id="content-begin">
    </div>
    <div class="d-flex">
        <div class="d-flex w-100 justify-content-center align-items-center mb-5">
        </div>
    </div>
    <div class="d-flex w-100 card-container">
        <mat-card class="example-card w-25 card-main">
            <mat-card-header class="p-2 ps-3 pe-3">
                <mat-card-title><b>O nas</b></mat-card-title>
                <mat-card-subtitle>Patrycjusz Wybraniec</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://aniancep.sirv.com/web-images/patrycjusz-stolmax.jpeg" width="299.91"
                height="199.73" class="img-mobile"
                alt="Zdjęcie Pana Patrcjusza Wybrańca w jego warsztacie podczas pracy, założyciela i stolarza firmy stol-max. Stolarz tnie drewniane płyty na wielkim okrągłym ostrzu na maszynie do tego przeznaczonej.">
            <mat-card-content class="text-card pt-2">
                <p>
                    Pan <b>Patrycjusz Wybraniec z firmy Stol-Max Meble</b> na wymiar, zajmuje się
                    stolarstwem
                    od ćwierć wieku. Choć szkołę ukończył w zupełnie innym kierunku, to jego obecny fach ma we krwi.
                    <br> –
                    Od kiedy byłem dzieckiem, w rodzinie zawsze ktoś zajmował się <b>„stolarką”</b>.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button [routerLink]="['/o-nas']">O NAS</a>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card w-25 card-main">
            <mat-card-header class="p-2 ps-3 pe-3">
                <mat-card-title><b>Oferta</b></mat-card-title>
                <mat-card-subtitle>W czym się specjalizujemy</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://aniancep.sirv.com/web-images/specjalizacja.png" width="299.91"
                height="199.73" class="img-mobile"
                alt="Zdjęcie szaroniebieskiej kuchni z wyspą na środku, czarne klamki, drewniane brazowe blaty. Stworzone przez stol-max tychy patrycjusz wybraniec">
            <mat-card-content class="text-card pt-2">
                <p>
                    Od projektowania wnętrz po tworzenie niestandardowych rozwiązań, nasz zespół posiada bogate
                    doświadczenie w tworzeniu <b>mebli na wymiar do salonu, kuchni, biura, łazienki, sypialni</b>.
                    Zapraszamy
                    do zapoznania się z ofertą oraz opiniami
                    naszych klientów.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button [routerLink]="['/oferta']">OFERTA</a>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card w-25 card-main">
            <mat-card-header class="p-2 ps-3 pe-3">
                <mat-card-title><b>Galeria</b></mat-card-title>
                <mat-card-subtitle>Sprawdź nasze realizacje</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://aniancep.sirv.com/web-images/realizacje.png" width="299.91" height="199.73"
                class="img-mobile"
                alt="Zdjęcie jasnoszarej błyszącej kuchni z białymi blatami i czarnymi klamkami. Stworzone przez stol-max tychy patrycjusz wybraniec">
            <mat-card-content class="text-card pt-2">
                <p>
                    Znajdziesz tu
                    inspirujące historie o naszych najnowszych projektach, które przekształcają zwykłe pomieszczenia w
                    unikalne przestrzenie. <b>Realizacje przykładowych kuchni na wymiar, biur oraz różnych mebli na
                        zamówienie.</b>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button [routerLink]="['/galeria']">GALERIA</a>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card w-25 card-main">
            <mat-card-header class="p-2 ps-3 pe-3">
                <mat-card-title><b>Kontakt</b></mat-card-title>
                <mat-card-subtitle>Skontaktuj się z nami</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://aniancep.sirv.com/web-images/lokalizacja.png" width="299.91"
                height="199.73" class="img-mobile"
                alt="Zdjęcie wycinku mapy google z pinezką ustawioną na siedzibę stol-max tychy patrycjusz wybraniec meble na wymiar">
            <mat-card-content class="text-card pt-2">
                <p>
                    <b>W celu kontaktu/wyceny prosimy</b> o kontakt po przez adres e-mail
                    <a href="mailto:stolmax@op.pl"> {{'stolmax@op.pl'}} </a> lub telefonicznie
                    <a href="tel:602 608 749"> {{'+48 602608749'}}</a>.
                    Zachęcamy równie do skorzystania z formularza kontaktowego.
                </p>
            </mat-card-content>
            <mat-card-actions class="acitons-card-end">
                <a mat-button [routerLink]="['/kontakt']">KONTAKT</a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="d-flex w-100 justify-content-center align-items-center mt-5">
        <img src="https://aniancep.sirv.com/web-images/break.webp" width="50px" height="9.52px" alt="line">
    </div>
</section>

<app-footer></app-footer>