<section class="d-flex w-100 background">
    <div class="d-flex w-50 h-100 align-items-end justify-content-center flex-column pe-5">
        <h3 class="Najnowsze-trendy-w-meblarstwie pb-4">
            Najnowsze
            <br>trendy w meblarstwie
        </h3>
        <p class="Dziki-nam-kada-wizyta-w-Twoim-domu-lub-firmie-bdzie-tylko-i pt-4 pb-4">
            Dzięki nam każda wizyta w Twoim
            <br> domu lub firmie będzie tylko i
            <br> wyłącznie przyjemnością
        </p>
        <button mat-raised-button>GALERIA</button>
    </div>
    <div class="d-flex w-50 h-100 align-items-center justify-content-center">
        <div class="grid">
            <img src="/assets/stolmax-main-1.webp" width="100%" height="auto" class="till-1 "
                alt="Kuchnia brązowe szafki i czarne blaty nowoczesny styl">
            <img src="/assets/stolmax-main-2.webp" width="100%" height="auto" class="till-2 "
                alt="Kuchnia z salonem, biały ściany, wyspa na środku, marmurowe blaty i ciemno brązowe wykończenia oraz meble">
            <img src="/assets/stolmax-main-3.webp" width="100%" height="auto" class="till-3 "
                alt="Kuchnia białe fronty błyszczące, białe marmurowe blaty, na czarnej ścianie">
        </div>
    </div>
    <button mat-button class="d-flex more-info">WIĘCEJ INFORMACJI <br> <mat-icon>expand_more</mat-icon></button>
</section>
<section class="d-flex pt-5 pb-5 ps-5 pe-5 mt-5 flex-column" style="background: white;">
    <div class="d-flex w-100 justify-content-center align-items-center mb-1">
        <img src="/assets/break.webp" width="50px" alt="line">
    </div>
    <div class="d-flex">
        <div class="d-flex w-100 justify-content-center align-items-center mb-5"
            style="display:flex; align-items: center; justify-content: center; font-size:32px;">
            <h3 style="font-size: 32px;">O NASZEJ</h3>
            <h3 style="margin-left: 0.7rem; font-size: 32px; color: #68bd45;">FIRMIE</h3>
        </div>
    </div>
    <div class="d-flex w-100">
        <mat-card class="example-card">
            <mat-card-header class="p-2 ps-3 pe-3">
                <mat-card-title>Patrycjusz Wybraniec</mat-card-title>
                <mat-card-subtitle>Prezes & Stolarz</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/patrycjusz-stolmax.jpeg"
                alt="Zdjęcie Pana Patrcjusza Wybrańca w jego warsztacie podczas pracy, założyciela i stolarza firmy stol-max">
            <mat-card-content>
                <p>
                    Pan Patrycjusz Wybraniec z firmy Stol-Max Meble na wymiar www.stol-max.net zajmuję się stolarstwem
                    od ćwierć wieku. Choć szkołę ukończył w zupełnie innym kierunku, to jego obecny fach ma we krwi. –
                    Od kiedy byłem dzieckiem, w rodzinie zawsze ktoś zajmował się „stolarką”. Czy to dziadek, czy wujek,
                    a potem ja sam zacząłem pracować w firmie zajmującej się produkcją mebli.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>O NAS</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header class="p-2 ps-3 pe-3">
                <mat-card-title>Oferta</mat-card-title>
                <mat-card-subtitle>W czym się specjalizujemy</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/specjalizacja.png"
                alt="Zdjęcie Pana Patrcjusza Wybrańca w jego warsztacie podczas pracy, założyciela i stolarza firmy stol-max">
            <mat-card-content>
                <p>
                    Od projektowania wnętrz po tworzenie niestandardowych rozwiązań, nasz zespół posiada bogate
                    doświadczenie w różnorodnych dziedzinach. Zapraszamy do zapoznania się z ofertą oraz opiniami
                    naszych klientów.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>OFERTA</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header class="p-2 ps-3 pe-3">
                <mat-card-title>Realizacje</mat-card-title>
                <mat-card-subtitle>Sprawdź nasze realizacje</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/realizacje.jpeg"
                alt="Zdjęcie Pana Patrcjusza Wybrańca w jego warsztacie podczas pracy, założyciela i stolarza firmy stol-max">
            <mat-card-content>
                <p>
                    Zapraszamy Cię do odkrycia naszych fascynujących realizacji mebli! Tam znajdziesz
                    inspirujące historie o naszych najnowszych projektach, które przekształcają zwykłe pomieszczenia w
                    unikalne przestrzenie.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>GALERIA</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header class="p-2 ps-3 pe-3">
                <mat-card-title>Kontakt</mat-card-title>
                <mat-card-subtitle>Skontaktuj się z nami</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/lokalizacja.png"
                alt="Zdjęcie Pana Patrcjusza Wybrańca w jego warsztacie podczas pracy, założyciela i stolarza firmy stol-max">
            <mat-card-content>
                <p>
                    W celu kontaktu/wyceny prosimy o kontakt po przez adres e-mail <a
                        href="mailto:stolmax@op.pl">stolmax@op.pl</a> lub telefonicznie <a href="tel:602 608 749">602
                        608 749</a>
                    Zachęcamy równie do skorzystania z formularza kontaktowego.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>KONTAKT</button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>