:host {
    height: 100%;
    width: 100%;
}

.background {
    // z-index: -1;
    // background: url(/assets/background.webp);
    // background-position: center, center;
    // background-size: 100% 100%, 100% 100%;
    // animation: bg 1.2s ease-in;
    position: relative;
    height: calc(100vh - 115px);
}

.Najnowsze-trendy-w-meblarstwie {
    font-family: Lato;
    font-size: 34px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.05;
    letter-spacing: 0.4px;
    text-align: right;
    color: #1b1b1b;
    animation: textAnim 1.2s ease-in;
}

.Dziki-nam-kada-wizyta-w-Twoim-domu-lub-firmie-bdzie-tylko-i {
    font-family: Lato;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.3px;
    text-align: right;
    color: #1b1b1b;
    animation: textAnim 1.2s ease-in;
}

.btn-gallery-start {
    animation: textAnim 1.2s ease-in;
}

.grid {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    transform: rotate(-45deg);
    width: 55%;
    overflow: hidden;

    .till-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        min-height: 100%;
        animation: imgs 1.2s ease-in;
    }

    .till-2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        min-height: 100%;
        animation: imgs 1.4s ease-in;
    }

    .till-3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        min-height: 100%;
        margin-left: 50%;
        animation: imgs 1.6s ease-in;
    }
}

.more-info {
    position: absolute;
    bottom: 10px;
    flex-direction: column-reverse;
    left: calc(50% - 86px);
}

.example-card {
    max-width: 23%;
    margin: 1rem;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

.text-card {
    height: 100%;
}

.paralax {
    width: 100%;
    min-height: 100%;
    background-image: url("/assets/bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 880px) {
    .mobile-main-text {
        width: 100% !important;
        align-items: center !important;
        padding: 0 1rem !important;
        justify-content: center !important;
    }

    .mobile-main-grid {
        display: none !important;
    }

    .card-main {
        width: 100% !important;
        max-width: 100% !important;
        margin: 1rem 0 !important;
    }

    .card-container {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .Najnowsze-trendy-w-meblarstwie {
        text-align: center !important;
    }

    .Dziki-nam-kada-wizyta-w-Twoim-domu-lub-firmie-bdzie-tylko-i {
        text-align: center !important;
    }
}

.img-mobile {
    max-width: 100% !important;
}

.pila {
    position: absolute;
    left: -12%;
    bottom: -10%;
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes imgs {
    0% {
        transform: translateX(85%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes textAnim {
    0% {
        transform: translateX(-75%);
    }

    100% {
        transform: translateX(0%);
    }
}
