<nav class="navbar-stolmax d-flex align-items-center" [class.active]="active">
    <a [routerLink]="['']" class="logo">
        <img width="718" height="126" priority="high" alt="Crossed two green, red squares and green text 'STOL-MAX'"
            ngSrc="assets/stolmax-logo.webp">
    </a>
    <a [routerLink]="['/o-nas']" class="ms-5" routerLinkActive="active-link" mat-button>O NAS</a>
    <a [routerLink]="['/oferta']" routerLinkActive="active-link" mat-button>OFERTA</a>
    <a [routerLink]="['/galeria']" routerLinkActive="active-link" mat-button>GALERIA</a>
    <a [routerLink]="['/kontakt']" routerLinkActive="active-link" mat-button>KONTAKT</a>
    <a target="_blank" rel="nofollow" href="https://www.instagram.com/stolmax_tychy"
        style="position: absolute; right: 10px; top: 50%;color: black;">
        <img src="assets/instagram-black.png" width="32px">
    </a>
    <a target="_blank" rel="nofollow" style="position: absolute; right: 42px; top: 50%;color: black;"
        href="https://www.facebook.com/pg/Stol-Max-Meble-na-wymiar-wwwstol-maxnet-343259572359311/about/?ref=page_internal">
        <img src="assets/fb-black.png" width="32px">
    </a>

</nav>