:host {
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.navbar-stolmax {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: 100%;
    width: 100%;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    animation: deactive-header 0.3s ease;
    background: rgba(255, 255, 255, 0);
    scale: 0.8;
}

.navbar-stolmax.active-link {
    border-bottom: 1px solid #68bd45;
    animation: active-header 0.3s ease;
    background: rgba(255, 255, 255, 1);
    scale: 1;
}

@keyframes active-header {
    0% {
        background: rgba(255, 255, 255, 0);
        scale: 0.8;
    }
    10% {
        background: rgba(255, 255, 255, 0.1);
        scale: 0.83;
    }
    20% {
        background: rgba(255, 255, 255, 0.2);
        scale: 0.85;
    }
    30% {
        background: rgba(255, 255, 255, 0.3);
        scale: 0.87;
    }
    40% {
        background: rgba(255, 255, 255, 0.4);
        scale: 0.9;
    }
    50% {
        background: rgba(255, 255, 255, 0.5);
        scale: 0.92;
    }
    60% {
        background: rgba(255, 255, 255, 0.6);
        scale: 0.95;
    }
    70% {
        background: rgba(255, 255, 255, 0.7);
        scale: 0.96;
    }
    80% {
        background: rgba(255, 255, 255, 0.8);
        scale: 0.98;
    }
    90% {
        background: rgba(255, 255, 255, 0.9);
        scale: 0.99;
    }
    100% {
        background: rgba(255, 255, 255, 1);
        scale: 1;
    }
}

@keyframes deactive-header {
    0% {
        background: rgba(255, 255, 255, 1);
        scale: 1;
    }
    10% {
        background: rgba(255, 255, 255, 0.9);
        scale: 0.98;
    }
    20% {
        background: rgba(255, 255, 255, 0.8);
        scale: 0.97;
    }
    30% {
        background: rgba(255, 255, 255, 0.7);
        scale: 0.95;
    }
    40% {
        background: rgba(255, 255, 255, 0.6);
        scale: 0.93;
    }
    50% {
        background: rgba(255, 255, 255, 0.5);
        scale: 0.9;
    }
    60% {
        background: rgba(255, 255, 255, 0.4);
        scale: 0.87;
    }
    70% {
        background: rgba(255, 255, 255, 0.3);
        scale: 0.85;
    }
    80% {
        background: rgba(255, 255, 255, 0.2);
        scale: 0.84;
    }
    90% {
        background: rgba(255, 255, 255, 0.1);
        scale: 0.82;
    }
    100% {
        background: rgba(255, 255, 255, 0);
        scale: 0.8;
    }
}

.logo {
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    padding: 2rem;

    > img {
        height: auto;
        width: 100%;
    }
}

::ng-deep {
    .navbar-stolmax a .mdc-button__label {
        font-weight: 500;
        font-size: 18px !important;
        letter-spacing: 0.2px;
        text-decoration-color: rgb(27, 27, 27);
        text-decoration-line: none;
        text-decoration-style: solid;
        text-decoration-thickness: auto;
        word-break: keep-all;
    }

    .navbar-stolmax a.active-link .mdc-button__label {
        font-weight: bold;
        border-bottom: 3px solid #68bd45;
    }
}

@media (max-width: 880px) {
    .navbar-stolmax {
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
        width: 100%;
        position: relative;
        padding-left: 0;
        padding-right: 0;
        animation: deactive-header 0.3s ease;
        background: rgba(255, 255, 255, 0);
        scale: 0.8;
    }

    .mobile-header {
        display: flex !important;
        align-items: flex-end;
        justify-content: flex-end;
        padding-right: 1rem;
        padding-left: 2rem;
    }

    .logo {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0;

        > img {
            height: auto;
            width: 50%;
        }
    }

    .active .logo {
        padding-left: 1rem;
    }

    .desktop-header {
        display: none !important;
    }
}

.mobile-header {
    display: none;
}

.desktop-header {
    display: flex;
}
