<nav class="navbar-stolmax d-flex">
    <a [routerLink]="['']" class="logo">
        <img width="718" height="126" priority="2" alt="Green and red squares and green header text STOL-MAX"
            ngSrc="assets/stolmax-logo.webp">
    </a>
    <a [routerLink]="['#o-nas']">O NAS</a>
    <a [routerLink]="['#oferta']">OFERTA</a>
    <a [routerLink]="['#galeria']">GALERIA</a>
    <a [routerLink]="['#opinie']">OPINIE</a>
    <a [routerLink]="['#lokalizacja']">LOKALIZACJA</a>
    <a [routerLink]="['#kontakt']">KONTAKT</a>
</nav>