:host {
    height: 100%;
    width: 100%;
    padding: 1.5rem 0;
}

.navbar-stolmax {
    height: 100%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
}

.logo {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    padding: 24px;

    > img {
        height: auto;
        width: 100%;
    }
}
