<section class="d-flex py-5 flex-column w-100 paralax">
  <div class="d-flex w-100 justify-content-center align-items-center mb-1">
    <img src="/assets/break.webp" width="50px"
      alt="zielony szeroki cienki prostokąt, element jest przerywnikiem na stronie">
  </div>
  <div class="d-flex w-100">
    <div class="d-flex w-100 justify-content-center align-items-center mb-5"
      style="display:flex; align-items: center; justify-content: center; font-size:32px;">
      <h3 style="font-size: 32px;">KONTAKT</h3>
    </div>
  </div>
  <div
    class="d-flex w-100 Zapraszamy-do-przejrzenia-naszej-bogatej-oferty-by-mgmoga justify-content-center align-items-center">
    <p>Zapraszamy do kontaktu z nami za pomocą <br>
      formularza/telefonicznie lub bezpośrednią wizytę w naszym zakładzie
    </p>
  </div>
  <div class="w-100 px-5 d-flex flex-column align-items-center justify-content-center">
    <h4 style="font-size: 24px;" class="py-3">FORMULARZ KONTAKTOWY</h4>
    <form [formGroup]="form" class="d-flex flex-column w-50 form-mobile" (ngSubmit)="sendEmail($event)">
      <mat-form-field class="py-1 w-100">
        <mat-label>Twoje imię</mat-label>
        <input matInput placeholder="Marek" formControlName="name" name="name" required>
        <mat-error *ngIf="form.get('name')?.errors">Pole jest wymagane</mat-error>
      </mat-form-field>
      <mat-form-field class="py-1 w-100">
        <mat-label>Twój adress e-mail</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" name="email" required>
        <mat-error *ngIf="form.get('email')?.errors?.['required']">Pole jest wymagane</mat-error>
        <mat-error *ngIf="form.get('email')?.errors?.['email']">Adres e-mail jest nieprawidłowy</mat-error>
      </mat-form-field>
      <mat-form-field class="py-1 w-100">
        <mat-label>Treść wiadomości</mat-label>
        <textarea matInput rows="4" placeholder="Proszę o wycenę..." formControlName="text" name="text"
          required></textarea>
        <mat-error *ngIf="form.get('text')?.errors?.['required']">Pole jest wymagane</mat-error>
      </mat-form-field>
      <button type="submit" style="width: min-content;" mat-raised-button>WYŚLIJ</button>
    </form>
  </div>

  <div class="w-100 px-5 mt-5 d-flex flex-column align-items-center justify-content-center">
    <h4 style="font-size: 24px;" class="py-3">LOKALIZACJA</h4>
    <div style="height: 400px; width: 100%; border: 2px solid black" id="map">
    </div>
  </div>
</section>

<app-footer></app-footer>