<section class="d-flex py-5 flex-column w-100 paralax">
  <div class="d-flex w-100 justify-content-center align-items-center mb-1">
    <img src="/assets/break.webp" width="50px"
      alt="zielony szeroki cienki prostokąt, element jest przerywnikiem na stronie">
  </div>
  <div class="d-flex w-100">
    <div class="d-flex w-100 justify-content-center align-items-center mb-5"
      style="display:flex; align-items: center; justify-content: center; font-size:32px;">
      <h3 style="font-size: 32px;">KONTAKT</h3>
    </div>
  </div>
  <div
    class="d-flex w-100 Zapraszamy-do-przejrzenia-naszej-bogatej-oferty-by-mgmoga justify-content-center align-items-center mb-5">
    <p>Zapraszamy do przejrzenia naszej bogatej oferty, byś mógł/mogła znaleźć coś
      <br>
      dla siebie i swoich bliskich.
    </p>
  </div>
  <div class="w-100 px-5">


  </div>
</section>

<app-footer></app-footer>